/* blue palette
light blue (inner): #bbeaff
other light blue (other inner): #98ddfc
less lighter (left side): #72d3fe
neon blue (rigth side): #1F51FF
 */


/* frog palette
light green (inner): #7cbb62
other light green (other inner): #9bc262
dark green (right side): #477455
brown (left side): #baa56f
*/


/* body */


body {
    background-color: #bbeaff;
    font-family: 'Signika Negative', sans-serif;
}


/* navbar */

.center-top-bar {
    left: 0;
    top: 0%;
    background: linear-gradient(454deg, #72d3fe, #1F51FF);
    width: 100%;
    height: 1vh;
    position: fixed;
    z-index: 2;
}

.center-bottom-bar {
    left: 0;
    top: 13%;
    background: linear-gradient(454deg, #72d3fe, #1F51FF);
    width: 100%;
    height: 1vh;
    position: fixed;
    z-index: 2;
}

.left-bar {
    margin-top: -2%;
    left: 0%;
    /* margin-left: -1%; */
    background-color: #72d3fe;
    width: .5%;
    height: 110vh;
    position: fixed;
    z-index: 3;
}

.right-bar {
    margin-top: -2%;
    float: right;
    right: 0%;
    background-color: #1F51FF;
    width: .5%;
    height: 110vh;
    position: fixed;
    z-index: 3;
}


.navbar {
    background-color: #bbeaff;
    left: .5%;
    width: 99%;
    height: 12vh;
    position: fixed;
    /* z-index: 1; */
    z-index: 5;
}

.dropdown {
  float: left;
  overflow: hidden;
  cursor: pointer;

}

.dropdown .dropbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: black;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
  cursor: pointer;
  font-weight: bold;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);

    cursor: pointer;
  }
  
.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    cursor: pointer;

  }
  
  .dropdown-content a:hover {
    cursor: pointer;

  }
  
  .dropdown:hover .dropdown-content {
    display: block;
    cursor: pointer;

  }


.navbar ul {
    list-style-type: none;
    margin: 0;
    margin-top: 2%;
    padding: 0;
    overflow: hidden;
    }

.navbar li {
    float: right;
    margin-right: 7%;
    }

#language {
    margin-left: -7.5%;
}


/* .animal-icon {
        margin
    } */

.navbar li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-weight: bold;
    }

.navbar li span {
        display: block;
        color: black;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-weight: bold;
        }

.navbar li a:hover {
    color: 	#1F51FF;
    }

#koshka {
    cursor: pointer;
}

.asleep {
    float: left;
    margin-top: -22.5%;
    margin-left: -125%;
    width: 20%;
    }

.awake {
    margin-top: -18%; 
    margin-left: 0%; 
    width: 40%;
}

#forg {
    margin-left: -40%;
    margin-top: -20%;
    cursor: pointer;
}

/* page cotainers */


.full-container {
    width: 100%;
    height: 100vh;
    scroll-snap-type: y mandatory;
}

/* change the vh to make each of the pages longer */
.pages {
    margin-left: 0%;
    width: 102%;
    height: 125vh;
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: #bbeaff;
    scroll-snap-align: start;
    display: flex;
    flex-direction: column;
}

.home {
    margin-left: 0%;
    width: 102%;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background: linear-gradient(454deg, #72d3fe,#1F51FF); */
    background-color: #bbeaff;
    scroll-snap-align: start;
    display: flex;
    flex-direction: column;
}

.about {
    margin-left: -.5%;
    width: 102%;
    height: 140vh;
    align-items: center;
    justify-content: center;
    /* background: linear-gradient(454deg, #72d3fe,#1F51FF); */
    background-color: #bbeaff;
    scroll-snap-align: start;
    display: flex;
    flex-direction: column;
}

#about {
    cursor: pointer;
}

.projects {
    margin-left: 0%;
    width: 102%;
    height: 150vh;
    display: flex;
    align-items: center;
    justify-content: center;
    scroll-snap-align: start;
    display: flex;
    flex-direction: column;
    background-color: #bbeaff;
}

#projects {
    cursor: pointer;
}

.contact {
    /* background: linear-gradient(454deg, red,#8ffcff); */
    background-color: #98ddfc;
    margin-left: -.5%;
    width: 102%;
    height: 120vh;
}

#contact {
    cursor: pointer;
}

.page-start {
    width: 50%;
    height: 40vh;
    /* background-color: yellow; */
    margin-left: 25%;
    cursor: default;
}

.page-start h2 {
    text-align: center;
    font-size: 400%;
}

.page-start p {
    text-align: center;
    font-size: 150%;
}


/* home page */

#home {
    cursor: pointer;
}

.greeting {
    margin-left: 30%;
    margin-top: 15%;
    font-size: 400%;
    cursor: default;
}

.me {
    margin-left: 30%;
    margin-top: 5%;
    font-size: 200%;
}

/* toggle between from and cat ฅ^•ﻌ•^ฅ & (⚈₋₍⚈) https://www.keyboardfaces.com/ */
.animal {
    margin: auto;

}


/* need to subtract the float left of the socials li margin-left from the socials margin-left */
.socials {
    margin-left: 28.75%;   
    margin-top: 5%;
    font-size: 200%;
}

.socials ul {
    list-style-type: none;
    margin: 0;
    margin-top: 2%;
    padding: 0;
    overflow: hidden;
}

.socials li {
    float: left;
    margin-left: 2%;
}

.socials li a {
    text-decoration: none;
    color: black;
}

.socials li a:hover {
    color: 	#1F51FF;
    }

.doggo {
    border-radius: 50%;
    margin-top: 10%;
    float: left;
}

.intro-col {
    width: 75%;
    /* background-color: red; */
}

.intro-row {
    display: flex;
    flex-direction: row;
    /* background-color: yellow; */
}


/* about me page */
.about {
    /* background: linear-gradient(454deg, green,#8ffcff); */
    background-color: #98ddfc;
    /* justify-content: center; */
}

.about-parent {
    margin-top: -50%;
    /* background-color: yellow; */
    height: 40vh;
}

.about-container {
    display: flex;
    flex-direction: row;
    /* background-color: orange; */
    width: 100%;
    height: 50vh;
    margin-top: -5%;
}

.about-left {
    margin-left: 5%;
    /* background-color: red; */
    width: 50%;
    height: 90vh;
}

.about-left h3 {
    font-size: 300%;
    cursor: default;
}

.about-left p {
    font-size: 150%;
}

.about-right {
    margin-left: 5%;
    /* background-color: green; */
    width: 50%;
}

.about-right h3 {
    font-size: 300%;
    cursor: default;
}

.skill {
    margin-left: 2%;
    margin-top: 2%;
    background-color: #FAFAFA;
    text-align: center;
    border-radius: 10px;
    /* border-style: dashed;
    border-color: orange; */
    padding-left: 2%;
    padding-right: 2%;
}

.skill p {
    color: #444444;
    display: inline-block;
    font-weight: bold;
    font-size: 125%;
    cursor: default;
}

.skill-1 {
    display: flex;
    flex-direction: row;
}

.skill-2 {
    display: flex;
    flex-direction: row;
}

.skill-3 {
    display: flex;
    flex-direction: row;
}
.skill-4 {
    display: flex;
    flex-direction: row;
}

.skill-container {
    display: flex;
    flex-direction: column;
}


/* projects page */


.project-parent {
    width: 100%;
}

.project-container {
    /* border-style: dashed;
    border-color: red; */
    width: 90%;
    margin: auto;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.project-1{
    width: 100%;
    height: 50vh;
    /* border-style: double;
    border-color: green; */
    display: flex;
    flex-direction: row;
}

.project-2{
    width: 100%;
    height: 50vh;
    /* border-style: double;
    border-color: yellow; */
    display: flex;
    flex-direction: row;
}

.project-img img{
    /* margin-top: 5%; */
    width: 100%;
    height: 40vh;

}

.project-text{
    width: 50%;
    height: 50vh;
    /* border-style: double;
    border-color: blueviolet; */
    /* margin-left: auto;
    margin-top: 0%; */
}

.project-text h3 {
    text-align: left;
    margin-left: 10%;
    margin-top: 0%;
    font-size: 300%;
    cursor: default;
    width: 100%;
}

.project-text p {
    text-align: left;
    margin-left: 10%;
    font-size: 150%;
}



.bowling-img {
    width: 25%;
}


/* contact page */


.contact-parent {
    margin-top: 0%;
}

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }

input[type=email], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  
input[type=submit] {
    background-color: #1F51FF;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    opacity: .8;
  }
  
  .contact-container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    margin-bottom: 2%;
}